<div class="accordion__wrapper">
    <div class="accordion__item">
        <h3 class="accordion__item-header">
            <button
                aria-expanded="true"
                aria-controls="section-1"
                class="accordion__item-header-trigger"
                id="buttonId"
            >
                <span>Heading 1</span>
            </button>
        </h3>
        
        <div id="section-1"
            role="region"
            aria-labelledby="buttonId"
            class="accordion__item-panel accordion__item-panel--collapsed"
            ref="content"
            aria-hidden="false"
        >
            <div class="accordion__item-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac euismod est, id consequat risus. Pellentesque viverra ligula vel nibh euismod, et iaculis felis euismod. Aliquam ac metus hendrerit, tincidunt ante eget, consectetur justo. Ut at velit sit amet ex rhoncus condimentum quis rutrum odio. Nulla vitae ornare nisi, id semper odio. Aliquam cursus malesuada velit eget tristique. Phasellus convallis bibendum malesuada.</p>
                
                <p>Morbi tempor ligula non feugiat lacinia. In viverra, dolor a efficitur dignissim, diam diam bibendum ante, a pulvinar eros est at purus. Sed vitae dapibus magna. Proin non tempor nunc, sagittis facilisis mi. Vivamus aliquam lectus non ligula porta iaculis. Fusce sed porttitor ante. Vivamus at efficitur magna. Donec sit amet viverra turpis, sit amet varius enim. Praesent interdum fermentum est quis congue. Nullam ultrices mauris a dapibus ornare.</p>
            </div>
        </div>
    </div>
    <div class="accordion__item">
        <h3 class="accordion__item-header">
            <button
                aria-expanded="true"
                aria-controls="section-1"
                class="accordion__item-header-trigger"
                id="button2Id"
            >
                <span>Heading 2</span>
            </button>
        </h3>
        
        <div id="section-2"
            role="region"
            aria-labelledby="button2Id"
            class="accordion__item-panel accordion__item-panel--collapsed"
            ref="content"
            aria-hidden="false"
        >
            <div class="accordion__item-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac euismod est, id consequat risus. Pellentesque viverra ligula vel nibh euismod, et iaculis felis euismod. Aliquam ac metus hendrerit, tincidunt ante eget, consectetur justo. Ut at velit sit amet ex rhoncus condimentum quis rutrum odio. Nulla vitae ornare nisi, id semper odio. Aliquam cursus malesuada velit eget tristique. Phasellus convallis bibendum malesuada.</p>
                
                <p>Morbi tempor ligula non feugiat lacinia. In viverra, dolor a efficitur dignissim, diam diam bibendum ante, a pulvinar eros est at purus. Sed vitae dapibus magna. Proin non tempor nunc, sagittis facilisis mi. Vivamus aliquam lectus non ligula porta iaculis. Fusce sed porttitor ante. Vivamus at efficitur magna. Donec sit amet viverra turpis, sit amet varius enim. Praesent interdum fermentum est quis congue. Nullam ultrices mauris a dapibus ornare.</p>
            </div>
        </div>
    </div>
</div>